<!--
  A EXPERIMENTAL tool for explore GTFS data.
  It's not a complete production but a sort of notes on learning GTFS.
  The source is open at https://github.com/chuangbo/gtfs-explorer, feel free to check it out.
-->
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <title>GTFS Viewer - Auckland</title>
  <link rel="stylesheet" href="/static/css/normalize.css">
  <link rel="stylesheet" href="/static/js/libs/leaflet-0.7.2.css">
  <link rel="stylesheet" href="/static/js/libs/nprogress-0.1.2.css">
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
  <div id="map"></div>

  <script type="text/template" id="stop-popup-template">
    <div class="popup">
      <div class="title"><%= name %></div>
      <small><%= code %></small>
      <ul class="route_tags">
        <% if (routes.length) { %>
          <% _.each(routes, function(route) { %>
            <li
              class="route_tag"
              style="background-color: #<%= route.color %>; color: #<%= route.text_color %>"
              title="(<%= route.short_name %>) <%= route.long_name %>">
              <a data-toggle="route" href="/route/<%= route.short_name %>">
                <%= route.short_name %>
              </a>
            </li>
          <% }); %>
        <% } else { %>
          No data covered currently
        <% } %>
      </ul>
    </div>
  </script>

  <script type="text/template" id="route-popup-template">
    <div class="popup">
      <div class="title"><%= properties.long_name %></div>
      <small><%= properties.short_name %></small>
    </div>
  </script>

  <script type="text/template" id="route-close-template">
    <div class="control-close-btn">
      <a data-toggle="route" href="/@<%= lat %>,<%= lng %>,<%= zoom %>">
        <img class="back-icon" src="/static/img/back.svg" alt="back"/>
        Close route view
      </a>
    </div>
  </script>

  <script type="text/template" id="search-view-template">
    <div class="search-wrapper">
      <input type="search" placeholder="Search" name="q"/>
      <ul class="suggestions-wrapper"></ul>
    </div>
  </script>

  <script type="text/template" id="search-suggestion-view-template">
    <% if (type == 'stop') { %>
      <a data-toggle="route" href="/stop/<%= code %>">
        <img class="suggestion-icon" src="/static/img/map.svg"></img>
        (<%= code %>) <%= name %>
      </a>
    <% } else if (type == 'route') { %>
      <a data-toggle="route" href="/route/<%= short_name %>">
        <img class="suggestion-icon" src="/static/img/NPS_bus_stop-gray.svg"></img>
        (<%= short_name %>) <%= long_name %>
      </a>
    <% } %>
  </script>

  <script src="/static/js/libs/jquery-1.11.0.min.js"></script>
  <script src="/static/js/libs/underscore-1.6.0.min.js"></script>
  <script src="/static/js/libs/backbone-1.1.2.min.js"></script>
  <script src="/static/js/libs/leaflet-0.7.2.min.js"></script>
  <script src="/static/js/libs/backbone.leaflet-0.1.1.min.js"></script>
  <script src="/static/js/libs/nprogress-0.1.2.js"></script>
  <script src="/static/js/app.js"></script>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-8442212-7', 'chuangbo.li');
    ga('send', 'pageview');
  </script>
</body>
</html>
