
html, body, #map {
    height: 100%;
    /* Use a lighter font, so set default weight to light */
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
}

.leaflet-marker-icon.active path{
    fill: blue;
}

.leaflet-marker-icon:hover path {
    fill: red;
}

.popup .title {
    font-weight: 400;
}

.control-close-btn {
    -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.3);
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
    background: #fff;
    border-radius: 2px;
    margin-left: 20px;
}
    .control-close-btn a {
        display: block;
        padding: 3px 15px;
        text-align: center;
        text-decoration: none;
        color: black;
        border-radius: inherit;
        font-size: 16px;
    }
    .control-close-btn a:hover {
        background-color: #f4f4f4;
    }
    .control-close-btn .back-icon {
        width: 18px;
        height: 18px;
        vertical-align: middle;
    }

.route_tags {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}
    .route_tags .route_tag {
        margin: 3px 2px;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 2px;
    }

    .route_tags .route_tag a {
        display: block;
        padding: 2px 4px;
        width: 100%;
        height: 100%;
        color: inherit;
        text-decoration: none;
    }
    .route_tags .route_tag a:hover {
        text-decoration: none;
    }

.search-wrapper {
    margin-top: 5px;
    margin-left: 20px;
}
    .search-wrapper input[type="search"] {
        box-sizing: border-box;
        width: 250px;
        height: 32px;
        padding: 3px 15px;
        font-size: 14px;
        font-weight: 300;

        background-color: #fff;
        border: 1px solid transparent;
        border-radius: 2px;

        -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.3),0 4px 15px -5px rgba(0,0,0,0.3);
        -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.3),0 4px 15px -5px rgba(0,0,0,0.3);
        box-shadow: 0 2px 6px rgba(0,0,0,0.3),0 4px 15px -5px rgba(0,0,0,0.3);
    }
        .search-wrapper input[type="search"]:focus {
            outline: none;

            border: 1px solid dodgerblue;
        }

    .search-wrapper .suggestions-wrapper {
        padding-left: 0;
        list-style: none;
        background-color: #fff;

        margin-top: 5px;

        border-radius: 2px;
        -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.3);
        -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.3);
        box-shadow: 0 2px 6px rgba(0,0,0,0.3);
    }
        .search-wrapper .suggestions-wrapper .search-suggestion {
            border-top: 1px solid #d9d9d9;
        }
        .search-wrapper .suggestions-wrapper .search-suggestion a {
            display: block;
            padding: 6px 15px;
            font-size: 14px;
            text-decoration: none;
            color: #000;
        }
           .search-wrapper .suggestions-wrapper .search-suggestion a:hover {
               background-color: #fafafa;
           }
        .search-wrapper .suggestions-wrapper .suggestion-icon {
            width: 18px;
            height: 18px;
            vertical-align: middle;
        }